body{
  background-color: #111;
  /* overflow-y: hidden; */
}
.splash{
  background-color: #111;
  position: absolute;
}
.btn-custom{
  border: 1px solid green;
  background: rgba(0, 0, 0, 0);
  transition: 1s;
  color: #440000;
}
.btn-custom:hover{
  border: 1px solid #440000;
  background: #002200;
  color: white;

}
button>a{
  text-decoration: none !important;
}
.btn-outline-danger:hover{
  filter: blur(0.3px);
  background: #400 !important;
}
